@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    overflow: hidden;
}

.firstPage{
    width: 100%;
    height: 100vh;
    position: relative;
}

.Fon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.Fon video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text{
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    color: aliceblue;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    word-spacing: 20px;
    background: rgba(0, 0, 0, 0.5);

}

.text h2{
    text-transform: lowercase;
}

.text h1{
    text-transform: uppercase;
    margin-bottom: 40px;
}

@media screen and (max-width: 900px){
    .text{
        font-size: 24px;
    }
}

@media screen and (max-width: 500px){
    .text{
        font-size: 16px;
    }
}